<div class="field">
  <div class="ui right labeled input">
    <%= f.text_field :image_title, placeholder: "Título da imagem" %>
    <label for="post_data_stream" class="ui label icon button" style="width: 50px;">
            <i class="large file image outline icon"></i>
    </label>
    <input type="file" name="post[data_stream]" id="post_data_stream" style="display:none">
  </div>
</div>

