<div class="field">
<%= f.label :image_title %>
  <%= f.text_field :image_title %>
</div>
<div class="field">
<label for="post_data_stream" class="ui icon button">
        <i class="file image outline icon"></i>
        Escolher imagem</label>
  <input type="file" name="post[data_stream]" id="post_data_stream" style="display:none">
</div>

